.container {
  overflow-wrap: break-word;
  display: flex;
  justify-content: start;
  align-content: center;
}
.toc{
  margin-left: 0.1vw;
}
@media screen and (min-width: 600px) {
  
 .film{
  background-color: #77b677;
  width: 30vw;
  height: 16vh;
  font-size:2.5vw; 
  border-color: black;
  border-style: solid;
}
}
@media screen and (max-width: 600px) {
  
 .film{
  background-color: #77b677;
  width: 30vw;
  height: 16vh;
  font-size:4vw; 
  border-color: black;
  border-style: solid;
}
}


.film:hover{
  background-color: #d8f7ba;
  cursor: pointer
}


.ChosenFilm{
  background-color: #b5a188;
  height: 99.5vh;
  width: 68vw;
  border-color: black;
  border-style: solid;
}

